select {

  /* styling */
  background-color: white;
  border: thin solid rgba(0,0,0,0.1);
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

  .searchButtonContainer{
    padding:2%;
  }
  .searchButton{
    cursor: pointer;
    font-family: inherit;    
    background-color: var(--primary);
    color: white;
    border-radius: var(--radius);   
    border: none;
    width: 7vw;
    height: 5vh;
    font-weight: 500;
    font-size: 0.8vw;   
  }
  .selectCaste{
    width: 13vw;
  }
  
 
  #male,#female {
    accent-color: var(--primary);
}

.search {
    display: flex;
    background: white;
    position: absolute; 
    align-items: center;
    justify-content: space-between;
    left: 0; 
    right: 0;
    top: 79vh; 
    margin-left: auto; 
    margin-right: auto; 
    width: 48vw;
    padding: 0.5%;
    box-shadow: 4px 4px 24px rgba(0,0,0,0.1);
    border-radius: var(--radius);
}


.searchItem{
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 10vw;

}
.genderRadio,.age{
    display: flex;
    align-items: center;
}
.genderRadio{
    padding-top: 4%;
}

.genderRadio div{
    padding-right: 5%;
    font-weight:600;
    font-size: 1vw;


}

.searchTitle {
    font-size: 0.9vw;
    padding-bottom: 10%;
    font-weight: bolder;
}

input[type=radio] {
    border: none;
    width: 0.9vw;
    height: 0.9vw;
}
input{
    text-align: center; 

}
.male,.female {
    padding-right:2%;
    display: flex;
    align-items: center;
    justify-content: center;

}

label {
    padding-left:1%;
}
input[type="number" i] {
    border: thin solid rgba(0,0,0,0.1);
    border-radius: var(--radius) !important;
    width: 3vw;
    height: 2vw;
    text-align: center;
    
}
.minAge{
    padding-right: 10%;
}
.maxAge{
    padding-left: 10%;
}
.searchItem,.caste{
  width:max-content ;
}
@media screen and (max-width: 1600px) {
  .search{
    top: 65vh; 
    width: 55vw;
  }

}
@media screen and (max-width: 991px) {
  .search{
    top: 38vh; 
    width: 80vw;
  }
  
  .searchButton{
      width: 7vw;
      height: 3.5vh;
      font-size: 1.25vw;
  }
  .searchTitle{
    font-size: 1.25vw;
  }
  label{
    font-size: 1.5vw;
  }
  input[type="number" i] {
    width: 5vw;
    height: 3.5vw;
    }
    input[type=radio] {
      border: none;
      width: 1.5vw;
      height: 1.5vw;
  }
  .searchButton{
    width: 12vw;
    height: 4.5vh;
  }
}
@media screen and (max-width: 550px) {
  .search{
    top: 54vh; 
    width: 100vw;
    flex-direction: column;
    align-items: stretch;
    padding: 2%;
  }
  
  .searchButton{
      width: 7vw;
      height: 3.5vh;
      font-size: 1.25vw;
  }
  .searchTitle{
    font-size: 5.25vw;
    padding-bottom: 3%;
  }
  label{
    font-size: 4.5vw;
  }
  input[type="number" i] {
    width: 34vw;
    height: 8vw;
    }
  input[type=radio] {
      border: none;
      width: 5.5vw;
      height: 5.5vw;
  }
  .searchButton{
    width: 90vw;
    height: 4.5vh;
    font-size: 4.5vw;
  }
  .caste{
    width: 90vw;
  }
}