@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*General CSS Starts*/
:root {
    --primary: #DB1226;
    --background: #f7f7f7;
    --radius:0.5vw;
    --glass:rgba(255,255,255,0.75);
    --glass10:rgba(255,255,255,0.1);
    --shadow:8px 8px 24px rgba(0,0,0,0.1);
    --shadowDark:8px 8px 24px rgba(0,0,0,0.18);
  }
  ::-moz-selection { /* Code for Firefox */
    color: white;
    background: var(--primary);
  }
  
  ::selection {
    color: white;
    background: var(--primary);
  }
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f7f7f7;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darkred;
  }
body {
    overflow: scroll;
    overflow-x: clip;
    transition: 300ms ease-in;
    margin: 0 !important;
    font-family: 'Montserrat', sans-serif !important;
    background-color: var(--background);
    background-image: url("assets/backgroundPattern.png");
    background-repeat: repeat;
}

@font-face {
    font-family: Prata;
    src: url(assets/font/Prata-Regular.ttf);
}

.heroSection {
    background-image: url("assets/heroImage.webp");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

a {
    color:inherit;
    text-decoration: inherit;
}

.years {
    color: white;
    font-family: Prata;
    position: absolute;
    /* background: var(--glass10); */
    width: 20vw;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-right: 1.4%;
    padding-bottom: 2%;
    padding-left: 1.4%;
    align-items: center;
    margin: 10% 0% 0% 10%;
    border-radius:1vw;
}
.yearImage{
    height:auto ;
    width: 18vw;
}
.yearsTitle {
    font-size: 4vw;
    padding-bottom: 2%;
}

.yearsSub {
    font-size: 1.2vw;
    text-align: center;
}

/* Features */

.shehnaiFeatures {
    display: flex;
    flex-direction: column;
    background: url("assets/chooseBg.webp");
    color: white;
    padding: 5% 7%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.featureCards {
    display: flex;
    justify-content: center;
    width: 100%;
    gap:3vw;

}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgba(0,0,0,0.8);
    justify-content: space-evenly;
    padding: 2% 3%;
    box-shadow:var(--shadow);
    border-radius: var(--radius);
    width: 15vw;
    gap:0.5vw;
}

.featureHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
    font-weight: 600;
    gap: 1vw;
}
.featureVector {
    width: 4vw;
}

.featureSub {
    color: rgba(255,255,255,0.6);
    font-size: 0.8vw;
}

.featureTitle {
    font-size: 2vw;
    color: white;
}

.featureName {
    font-size:1vw;
}
.dark{
    color: rgba(0,0,0,0.6);
}
.darkTitle{
    color: black;
}
.featureDescr {
    text-align: justify;
    color: rgba(255,255,255,0.8);
    font-size: 0.8vw;
}

.testimonials {
    padding: 5% 0%;
    display: flex;
    flex-direction: column; 
    width: 85vw;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
    
}
.menu{
    display: none;
}

.testimonialContainer{
    display: flex;
    padding: 2%;
    background: var(--glass);
    box-shadow:var(--shadowDark);
    border-radius: var(--radius);
    background: #fff;
    /* border: 1px solid gray; */
    gap: 2vw;
}
.couplePhotoLargeContainer{
    height: 15vw;
    width: 15vw;
    overflow: clip;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.couplePhoto{
    height: 20vw;
    width: 20vw;
}
.testimonialText{
    width: 30vw;
}
.weddingTestimonial,.testimonialContentContainer{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.testimonialText{
    font-size: 0.85vw;
    font-weight: 400;
}
.quoteOpen,.quoteClose,.CoupleNames{
    font-size: 1.2vw;
    color: var(--primary);
    font-weight:600;
}

.quoteClose *{
    transform: rotate(180deg);
    margin-left: 95%;
}
.weddingDate{
    font-size: 0.8vw;
    color: rgba(0,0,0,0.6);
}
.testimonialSelector{
    display: flex; 
    padding: 2%;
    gap: 1vw;  
    align-items: center;
}
.coupleContainer{
    height: 6vw;
    width: 6vw;
    overflow: clip;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: var(--shadow);
}
.coupleContainer:hover{
    box-shadow: var(--shadowDark);
}

.coupleSelectImage{
    height: 8vw;
    width: 8vw;  
    transition: ease-in 300ms;
}
.coupleSelectImage:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#activeTestimonial{
    height: 8vw;
    width: 8vw;
    outline:10px solid #fff ;
    box-shadow: var(--shadow);
}

#activeTestimonial img{
    height: 15vw;
    width: 15vw;
}
#activeTestimonial img:hover{
    cursor: default;
    transform: scale(1);
}
.goldMembers{
    background: url('assets/goldBg.webp');
    padding: 8% 2%;
    background-repeat: no-repeat;
    background-size: cover;
}
.goldList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}
.goldMemberImgContainer{
    height: 15vw;
    width: 15vw;
    border-radius: 100%;
    overflow: clip;
    display: flex;
    justify-content: center;
    align-items: center;
}
.goldMemberContainer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.goldFrame{
    height: 16vw;
    width: 17vw;
    position: absolute;
    left: 0%;
    top: 0%;
}
.shehnaiPricing{
    padding: 2% 0%;
}
.plansContainer{
    display: flex;
    justify-content: center;
    gap: 2vw;
}
.planCard {
    padding: 2% 2%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    background: white;
    border-radius: var(--radius);
    width: 15%;
    gap: 2vw;
}
.featureItem{
    display: flex;
    gap: 1vw;
}
.planfeature{
    height: 1vw;
    width: 1vw;
}
.fadedFeature{
    opacity: 0.6;
}
.priceTitle{
    font-size: 1.5vw;
    font-weight: bold;
}
.priceDetail{
    font-size: 1.6vw;
    font-weight: bolder;
}
.featureList{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    height: 100%;
}
.featureText{
    font-size: 0.9vw;
}
.selectPlan{
    border: 1px solid gray;
    width: 90%;
    text-align: center;
    padding: 3%;
    border-radius: var(--radius);
}
.learnMore{
    font-size: 0.8vw;
    opacity: 0.8;
}
.goldPlan{
    background: #200F0F;
    color: white;
    border: 4px solid #D5A042;
    /* border-image:linear-gradient(90deg, #D5A042 0%, #FAC25F 14%, #FFEC8A 32.99%, #FFF6C7 47.99%, #FBC865 67.99%, #BA8C3A 99.98%);  ;
    border-image-slice: 2;
    border-radius: 24px !important; */
}
.gold{
    background: linear-gradient(90deg, #D5A042 0%, #FAC25F 14%, #FFEC8A 32.99%, #FFF6C7 47.99%, #FBC865 67.99%, #BA8C3A 99.98%);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.goldButton{
    color: black;
    font-weight: 600;
    background: linear-gradient(90deg, #D5A042 0%, #FAC25F 14%, #FFEC8A 32.99%, #FFF6C7 47.99%, #FBC865 67.99%, #BA8C3A 99.98%);    
}
.selectPlan.prime{
    color: white;
    font-weight: 600;
    background: var(--primary);
    border: none;
}
.priceTitle.prime,.priceDetail.prime{
    color: var(--primary);
}
.generalForm{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 1% 1.5% ; 
    background: white;
    border-radius: var(--radius);
    position: absolute;
    margin: 10% 0% 0% 8%;
    width: 20vw;
   }
.formTitle{
    font-size: 1.5vw;
    font-weight: 800;
    color: var(--primary);
}
.formLabel{
    font-size: 0.85vw;
    font-weight: 400;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }
input[type="email" i],input[type="text" i],input[type="number" i],input[type="tel" i],input[type="password" i] {
    background-color: rgba(0,0,0,0);
    width: auto;
    border-radius: var(--radius);
    height: 1.5vw;
    text-align: center;
    border: 0.1vw solid rgba(0,0,0,0.2);
    font-size: 0.85vw;
    font-weight: 400;
    padding: 2%;
   
}
textarea {
    
    background-color: rgba(0,0,0,0);
    width: auto;
    border-radius: var(--radius);
    height: 8vw;
    text-align: left;
    border: 0.1vw solid rgba(0,0,0,0.2);
    font-size: 0.85vw;
    font-weight: 400;
    padding: 2%;
}
.contacNo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.countryCode,.number{
    gap: 1vw;
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.countryCode{
    width: max-content;
}
.roundedBorder{
    border-radius: var(--radius);
}
.textLink{
    font-size: 0.8vw;
    color:var(--primary);
    font-weight:600;
    opacity: 0.8;
}
.textLink:hover{
    opacity: 1;
}
.flexRow{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.textLink.Dark{
    color: black;
}
.inactiveIcon{
    width: 2vw;
}
.aboutSection{
    margin-top: 8%;
}
.aboutImageContainer,.aboutContainer{
    overflow: clip;
}
.aboutContainer{
    width: 85%;
    border-radius: var(--radius);
    margin: 1% 7%;
    background: white;
    display: flex;
    align-items: stretch;
    gap: 2vw;
    box-shadow: var(--shadow);
}

.aboutImage{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 28vw;
    width: 20vw;
    background-position: top;
    background-size: cover;
    background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 67.42%, #000000 96.59%),
    url('assets/ShrutiModi.webp');
}
.aboutText{
    font-size: 0.8vw;
    color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.aboutText{
    width: 28vw;
}
.shrutiModiText{
    font-size: 1vw;
    color: white;
    font-weight: 600;  
    padding: 1vw;  
}
.map{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1% 0% ;
}
.mapEmbed{
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    width: 85vw;
    height: 20vw;
}
.leftBorder{
    border-left: 1px solid rgba(0,0,0,0.1);
    margin: 1% 0%;
    padding: 0% 1%;
}
.specialContainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 2% 7%;
    gap: 2vw;
}
.feedMember,.specialMember{
    height: 19vw;
    width: 19vw;
    overflow: clip;
    display: flex;
    justify-content: flex-end;
    border-radius: var(--radius);
    
    
}

.specialImage{
    height: 19vw;
    width: 19vw;
    background: white;
}
.actions{
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(2vw);
    position: absolute;
    display: flex;
    color: white;
    gap: 1.5vw;
    padding: 1%;
    
    border-radius: var(--radius);
}
.actionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.5vw;
    color: rgba(255,255,255,0.6);
    gap: 0.25vw;
}
.actionIcon{
    height: 1vw;
    width: 1vw;
}
.feedData,.specialData{
    opacity: 0;
    position: absolute;
    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(1vw);
    padding: 1%;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 17vw;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    transition: ease-in 300ms;
}
.feedData{
    opacity: 1;
    position: relative;
}
.specialButtons{
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    gap: 1vw;
    justify-content: center;
}
.specialButtons *{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: 8vw;
}
.feedDetails,.specialDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.85vw;
    width: 16vw;
    height: 14vw;
}
.detailLabel{
    font-size: 0.8vw;
    opacity: 0.8;
}
.detailData{
    font-size: 1vw;
    text-align: left;
}
.subDetails{
    display: flex;
    gap:1vw
}
.detailContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.specialMember:hover .specialData{
    opacity: 1;
}

.dashboard{
    margin-top: 8%;
}
.profile{
    background: white;
    /* padding:0% 0% 0% 2%; */
    width: 22vw;
    margin-left: 70%;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    /* overflow: clip; */
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}
.detailData.about{
    width: 20vw;
    text-align: justify;
}
.profiletabs{
    display: flex;
}
.profiletabs *{
    display: flex;
    justify-content: center;
    padding: 4% 2% ;
    width: 100%;
    background: #f0f0f0;
    opacity: 0.6;
    
}

.activeTab{
    font-weight: bold;
    background: #ffffff;
    opacity: 1;
}
.disableTab{
    cursor: pointer;
}
.profileSub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    width: 100%;
    padding-bottom: 2% ;
    /* border: 1px solid; */
}
.profilePhotoContainer{
    /* outline: 12px solid red; */
    height: 22vw;
    width: 20vw;
    background-position: top;
    background-size: cover;
    background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 67.42%, #000000 96.59%),
    url('assets/goldMember2.webp');
    border-radius: var(--radius);
}
.profileDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
}

/*General CSS Ends*/

@media screen and (max-width: 1600px) {
    .heroSection {
        background-size: cover;
        height: 75vh;    
    }
    .years{
        margin: 12% 0% 0% 14%;
    }
}
@media screen and (max-width: 991px) {
    .heroSection{
        height: 45vh;
    }
    .years{
        margin: 16% 0% 0% 16%;
    }

}
@media screen and (max-width: 550px) {
    
    ::-webkit-scrollbar {
        width: 0px;
    }
    body{
        margin: 0;
        overflow: scroll;
    }

    .heroSection{
        background-image: url("assets/heroMobile.png");
        background-repeat: no-repeat;
        object-fit:fill;
        width: 100vw;
        height: 50vh;
    }
    .years{
        display: none;
        /* background: rgba(0,0,0,0.1);
        margin: 28% 0% 0% 0%;
        width: 97vw;
        backdrop-filter: blur(4vw); */
    }
    /* .yearsTitle {
        font-size: 8vw;  
    }
    .yearsSub{
        font-size: 5vw;
        width: 85%;
    }
    */
    .shehnaiFeatures{
        padding-top: 100% !important;
    }
    .featureCards {
        grid-template-columns: auto;
    }
    .feature{
        margin-bottom:5% ;
        border-radius: 2vw;
    }
    .featureTitle{
        font-size: 6vw;
    }
    .featureDescr ,.featureSub {
        font-size: 3.5vw;
    }
    .featureSub{
        text-align: center;
    }
    .featureName {
        font-size: 4vw;
    }
    .featureVector {
        width: 16vw;
    }
   
}