@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*General CSS Starts*/
:root {
    --primary: #DB1226;
    --background: #f7f7f7;
    --radius:0.5vw;
    --glass:rgba(255,255,255,0.75);
    --glass10:rgba(255,255,255,0.1);
    --shadow:8px 8px 24px rgba(0,0,0,0.1);
    --shadowDark:8px 8px 24px rgba(0,0,0,0.18);
  }
  ::-moz-selection { /* Code for Firefox */
    color: white;
    background: var(--primary);
  }
  
  ::selection {
    color: white;
    background: var(--primary);
  }
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f7f7f7;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darkred;
  }
  a:focus, a:hover{
    color: inherit;
  }
body {
    overflow: scroll;
    overflow-x: clip;
    transition: 300ms ease-in;
    margin: 0 !important;
    font-family: 'Montserrat', sans-serif !important;
    background-color: var(--background);
    background-image: url("assets/backgroundPattern.png");
    background-repeat: repeat;
    background-attachment: fixed;

}

@font-face {
    font-family: Prata;
    src: url(assets/font/Prata-Regular.ttf);
}
.genderLabel{display: block;}
.heroSection {
    
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.sliderImage{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.slider1{
    background-image: url("assets/heroImage.webp");
}
.slider2{
    background-image: url("assets/heroImage2.webp");
}
.slider3{
    background-image: url("assets/heroImage3.webp");
}
img {
    vertical-align: none !important;
}
a {
    color:inherit;
    text-decoration: inherit;
}
.card {
    padding: 2%;
    background: white;
    border-radius: var(--radius);
    width: 80vw;
    margin: 1% 0% ;
}
.flexR{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flexC{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}
.grid{
    display: grid;
}
.fontLargest {
    font-size: 4vw;

}
.fontLarge {
    font-size: 2vw;
}
.fontMedium {
    font-size: 1.3vw;
}
.fontAverage{
    font-size: 0.9vw;
}
.fontSmall {
    font-size: 0.8vw;
}
.white{
    color: white;
}
.red{
    color: var(--primary);
}
.bold{
    font-weight: bold;
}
.gap2{
    gap: 2vw;
}
.justify-content-start{
    justify-content: flex-start;
}
.align-items-end{
    align-items: flex-end;
}
.fullWidth{
    width: 96% !important;
    
}
.borderButton{
    border: 1px solid var(--primary) !important;
    background: none !important;
    height: 1vw;
    width: max-content !important;
    color: var(--primary) !important;
}
.start{
   align-items: flex-start;
   justify-content: start;
   gap: 1vw;
}
.centerAlign{
   
    align-items: center;
    gap: 1vw;
}
.years {
    z-index: 1;
    font-family: Prata;
    position: absolute;   
    width: 20vw;
    padding-top: 2%;
    margin:0% 0% 0% 10%;
    border-radius:1vw;
    
    /* filter: drop-shadow(0px 0px 20px #000000); */
    /* background-image:linear-gradient(180deg, rgba(0, 0, 0, 0) 67.42%, #000000 96.59%); */
}
.yearImage{
    height:auto ;
    width: 40vw;
}
.yearsTitle {
    
    padding-bottom: 2%;
}

.yearsSub {
    text-align: center;
}

/* Features */

.shehnaiFeatures {
    margin-top: 5%;
    background: url("assets/chooseBg.webp");
    padding: 5% 7%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.featureCards {
    align-items: stretch;
    justify-content: center;
    width: 100%;
    gap:3vw;

}
/* .featureWidth{
    width: 18vw;
} */

.feature {
    align-items: center;
    background:rgba(0,0,0,0.8);
    justify-content: space-evenly;
    padding: 2% 3%;
    box-shadow:var(--shadow);
    border-radius: var(--radius);
    width: 20vw;
    gap:0.5vw;
}

.featureHeader {
    
    padding-bottom: 2%;
    font-weight: 600;
    gap: 1vw;
}
.featureVector {
    width: 4vw;
}

.featureSub {
    color: rgba(255,255,255,0.6);
}

.featureTitle {
    color: white;
}

.featureName{
    width: max-content;
}
.dark{
    color: rgba(0,0,0,0.6);
}
.darkTitle{
    color: black;
}
.featureDescr {
    text-align: justify;
    color: rgba(255,255,255,0.8);
    
}

.testimonials {
    padding: 5% 0%;
    width: 85vw;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
    
}
.menu{
    display: none;
}

.testimonialContainer{
    
    padding: 2%;
    background: var(--glass);
    box-shadow:var(--shadowDark);
    border-radius: var(--radius);
    background: #fff;
    /* border: 1px solid gray; */
    gap: 2vw;
}
.couplePhotoLargeContainer{
    height: 15vw;
    width: 15vw;
    overflow: clip;
    border-radius: 100%;

}
.couplePhoto{
    height: 20vw;
    width: 20vw;
}
.testimonialText{
    width: 30vw;
}
.weddingTestimonial,.testimonialContentContainer{
    
    gap: 1vw;
}
.testimonialText{
    font-weight: 400;
}
.quoteOpen,.quoteClose,.CoupleNames{
    color: var(--primary);
    font-weight:600;
}

.quoteClose *{
    transform: rotate(180deg);
    margin-left: 95%;
}
.weddingDate{
    
    color: rgba(0,0,0,0.6);
}
.testimonialSelector{
    
    padding: 2%;
    gap: 1vw;  
    align-items: center;
}
.coupleContainer{
    height: 6vw;
    width: 6vw;
    overflow: clip;
    border-radius: 100%;
    background: white;
    box-shadow: var(--shadow);
}
.coupleContainer:hover{
    box-shadow: var(--shadowDark);
}

.coupleSelectImage{
    height: 8vw;
    width: 8vw;  
    transition: ease-in 300ms;
}
.coupleSelectImage:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#activeTestimonial{
    height: 8vw;
    width: 8vw;
    outline:10px solid #fff ;
    box-shadow: var(--shadow);
}

#activeTestimonial img{
    height: 12vw;
    width: 12vw;
}
#activeTestimonial img:hover{
    cursor: default;
    transform: scale(1);
}
.goldMembers{
    background: url('assets/goldBg.webp');
    padding: 8% 2%;
    background-repeat: no-repeat;
    background-size: cover;
}
.goldMemberContainer:hover{
    filter: opacity(0.6);
    cursor: pointer;
}
.goldList{
    gap: 5vw;
}
.goldMemberImg{
    height: 15vw;
    width: 15vw;
    object-fit: cover;
    object-position: 0%;
}
.goldMemberImgContainer{
    height: 15vw;
    width: 15vw;
    overflow: clip;
    border-radius: 100%;
}

.goldMemberContainer{
    
    
    object-position: 50% 50%;   
    position: relative;
    
}
.goldFrame{
    height: 16vw;
    width: 17vw;
    position: absolute;
    left: 0%;
    top: 0%;
}
.shehnaiPricing{
    padding: 2% 0%;
}
.plansContainer{
    align-items: stretch;
    gap: 2vw;
}
.planCard {
    padding: 2% 2%;
    /* justify-content: space-between; */
    align-items: center;
    background: white;
    border-radius: var(--radius);
    width: 20%;
    gap: 2vw;
    transition: ease-in 300ms;
}
.planCard:hover{
    box-shadow: var(--shadowDark);
    cursor: pointer;
}
.featureItem {

    gap: 1vw;
    align-items: stretch;

}
.planfeature{
    height: 1vw;
    width: 1vw;
}
.fadedFeature{
    opacity: 0.6;
}
.priceTitle{
    
    font-weight: bold;
}
.priceDetail{
    
    font-weight: bolder;
}
.featureList{
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 2vw;
    height: 100%;
}

.selectPlan{
    border: 1px solid gray;
    width: 90%;
    text-align: center;
    padding: 3%;
    border-radius: var(--radius);
}
.learnMore{
    
    opacity: 0.8;
}
.goldPlan{
    background: #200F0F;
    color: white;
    border: 4px solid #D5A042;
    /* border-image:linear-gradient(90deg, #D5A042 0%, #FAC25F 14%, #FFEC8A 32.99%, #FFF6C7 47.99%, #FBC865 67.99%, #BA8C3A 99.98%);  ;
    border-image-slice: 2;
    border-radius: 24px !important; */
}
.gold{
    background: linear-gradient(90deg, #D5A042 0%, #FAC25F 14%, #FFEC8A 32.99%, #FFF6C7 47.99%, #FBC865 67.99%, #BA8C3A 99.98%);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.goldButton{
    color: black;
    font-weight: 600;
    background: linear-gradient(90deg, #D5A042 0%, #FAC25F 14%, #FFEC8A 32.99%, #FFF6C7 47.99%, #FBC865 67.99%, #BA8C3A 99.98%);    
}
.selectPlan.prime{
    color: white;
    font-weight: 600;
    background: var(--primary);
    border: none;
}
.priceTitle.prime,.priceDetail.prime{
    color: var(--primary);
}
.generalForm{
    align-items: stretch;
    gap: 1vw;
    padding: 1% 1.5% ; 
    background: white;
    border-radius: var(--radius);
    position: absolute;
    margin: 10% 0% 0% 40%;
    width: 20vw;
   }
.formTitle{
    font-weight: 800;
    color: var(--primary);
}
.formLabel{
    font-weight: 400;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }
input[type="email" i],input[type="text" i],input[type="number" i],input[type="tel" i],input[type="password" i],input[type="date" i],input[type="time" i] {
    background-color: rgba(0,0,0,0);
    width: auto;
    border-radius: var(--radius);
    height: 1.5vw;
    text-align: center;
    border: 0.1vw solid rgba(0,0,0,0.2);
    font-size: 0.85vw;
    font-weight: 400;
    padding: 2%;
   font-family: inherit;
}
#shortInput{
    width: 3vw;
}
.address,.expectations,.aboutMeArea,.aboutFamily{
    width: 23vw;
}
.dropDown{
    border-radius: var(--radius);
    padding: 4% 1%;
    /* height: 1.5vw !important; */
}

.shortWidth{
    
    width: 3vw !important;
   
}
.mediumWidth{
    width: 6.5vw !important;
}
.longWidth{
    width: 8vw !important;
}

.heightDropdown{
    gap: 1vw;
}
.gap{
    gap: 1vw;
}
textarea {
    font-family: inherit;
    background-color: rgba(0,0,0,0);
    width: auto;
    border-radius: var(--radius);
    height: 8vw;
    text-align: left;
    border: 0.1vw solid rgba(0,0,0,0.2);
    font-size: 0.85vw;
    font-weight: 400;
    padding: 2%;
}
.contacNo{
  align-items: flex-end;
    gap: 1vw;
}
.countryCode,.number{
    gap: 1vw;
    /* border: 1px solid black; */
    width: 100%;
    align-items: flex-start;
    justify-content: stretch;
}
.countryCode{
    width: max-content;
}
.roundedBorder{
    border-radius: var(--radius);
}
.textLink{
    color:var(--primary);
    font-weight:600;
    opacity: 0.8;
}
.textLink:hover{
    opacity: 1;
}

.textLink.Dark{
    color: black;
}
.inactiveIcon{
    width: 2vw;
}
.aboutSection{
    margin-top: 8%;
}
.aboutParentGrid{
    display: grid;
    grid-template-columns: auto auto ;
    gap: 4vw;
    row-gap: 10vw;
    place-content: center;
    place-items: center;
    margin-top: 10%;
}
.aboutImageContainer{
    overflow: clip;
}
.aboutContainer{
    width: 40vw !important;
    width: max-content;
    border-radius: var(--radius);
    margin: 1% 7%;
    background: white;
    border-top-left-radius: 256px;
    border-top-right-radius:256px;
    align-items: center;
    gap: 1vw;
    transition: 200ms ease-in;

}
.about1{
    background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 67.42%, #000000 96.59%),
    url('assets/ShrutiModi.webp');
    
}
.about2{
    background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 67.42%, #000000 96.59%),
    url('assets/ShrutiModi.webp');
}
.about3{
    background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 67.42%, #000000 96.59%),
    url('assets/ShrutiModi.webp');
}
.about4{
    background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 67.42%, #000000 96.59%),
    url('assets/ShrutiModi.webp');
}
.aboutImage{
    filter: saturate(0);
    align-items: flex-end;
    height: 18vw;
    width: 18vw;
    background-position: top;
    background-size: cover;
    border-radius: 100%;
    /* position: absolute; */
    margin-top: -20%;    
    transition: 200ms ease-in;
}
.aboutContainer:hover .aboutImage{
    filter: saturate(1);
}
.aboutContainer:hover{
    box-shadow: var(--shadow);

}
.aboutText{
    color: rgba(0,0,0,0.7);
    text-align: justify;
    top:0;
    width: 35vw;

}
.shrutiModiText{
    /* color: white; */
    font-weight: 600;  
    padding: 1vw;  
}
.map{
    width: 100%;
    justify-content: center;
    padding: 1% 0% ;
}
.mapEmbed{
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    width: 85vw;
    /* height: 20vw; */
}
.leftBorder{
    border-left: 1px solid rgba(0,0,0,0.1);
    margin: 1% 0%;
    padding: 0% 1%;
}
.specialContainer{
    display: grid;
    /* grid-template-columns: auto auto ; */
    padding: 2% 7%;
    gap: 2vw;
    place-content: center;
}
.feedMember,.specialMember{
    height: 19vw;
    width: max-content;
    overflow: clip;
    align-items: stretch;
    justify-content: flex-start;
    border-radius: var(--radius);
    background: white;
    gap: 1vw;
    
}

.specialImage{
    height: 19vw;
    width: 19vw;
    background: white;
}
.actions{
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(2vw);
    position: absolute;
    color: white;
    gap: 1.5vw;
    padding: 1%;
    
    border-radius: var(--radius);
}
.actionContainer{
   cursor: pointer;
    color: rgba(255,255,255,0.6);
    gap: 0.25vw;
}
.actionIcon{
    height: 1vw;
    width: 1vw;
}
.feedData,.specialData gap flexC{
    opacity: 0;
    position: absolute;
    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(1vw);
    padding: 1%;
    text-align: center;
    width: 17vw;
    gap: 1vw;
    transition: ease-in 300ms;
}
.feedData{
    opacity: 1;
    position: relative;
}
.specialButtons{
    /* border: 1px solid black; */
    width: 100%;
    gap: 1vw;
}
.specialButtons *{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: 8vw;
}
.feedDetails,.specialDetails{
    
    align-items: flex-start;
    gap: 0.85vw;
    width: 16vw;
    height: 14vw;
}
.detailLabel{
    opacity: 0.6;
    
}
.detailData{
    
    text-align: left;
}
.subDetails{
    gap:1vw
}
.detailContainer{
    gap: 1vw;
    align-items: flex-start;
    width: max-content;
    /* height: 100%; */
}
.gridSubDetails  {
    width: 100%;
}
.specialMember:hover .specialData{
    opacity: 1;
}

.dashboard{
    margin-top: 8%;
}
.profile{
    background: white;
    /* padding:0% 0% 0% 2%; */
    width: 22vw;
    margin-left: 70%;
    position: fixed;
    gap: 1vw;
    /* overflow: clip; */
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}
.detailData.about{
    width: 20vw;
    text-align: justify;
}
.profiletabs{
    display: flex;
}
.profiletabs *{
    display: flex;
    justify-content: center;
    padding: 4% 2% ;
    width: 100%;
    background: #f0f0f0;
    opacity: 1;
    color: rgba(0,0,0,0.5);
    
}

#activeTab{
    font-weight: bold;
    background: #ffffff;
    color: black;
    opacity: 1;
}
.closeIcon,#disableTab{
    cursor: pointer;
    transition: ease-in 300ms;
}
#disableTab:hover{
    background: #fff;
    color: rgba(0, 0, 0, 1);
    box-shadow: var(--shadow);
}
.notificationContainer,.activitySub,.profileSub{
    margin-top: 1vw;
    gap: 1vw;
    width: 100%;
    padding-bottom: 2% ;
    transition: ease-in 100ms;
    height: 40vw;
    justify-content: start;
    /* border: 1px solid; */
    
}
.activityContainer{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2vw;
}

.activitySub,.notificationContainer{
    display: none;
}
.notificationContainer{
    overflow-y: scroll;
}

.profilePhotoContainer{
    /* outline: 12px solid red; */
    height: 22vw;
    width: 20vw;
    background-position: top;
    background-size: cover;
    background-image:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 67.42%, #000000 96.59%),
    url('assets/goldMember2.webp');
    border-radius: var(--radius);
    align-items: flex-end;
    justify-content: space-around;
}
.profileDetails{
    align-items: flex-start;
    gap: 0.5vw;
}
.editButton{
    padding: 1% 2%;
    background: white;
}
.activitySub{
    display: none;
}
.space-between{
    justify-content: space-between;
    width: 100%;
}
.notfication{
    padding: 0.5vw;
    width: 90%;
}
.notificationImage{
    height: 3vw;
    width: 3vw;
    border-radius: 100%;
}
.notificationSub{
    gap: 1vw;
}
.notificationText{
    align-items: flex-start;
}
.viewProfile{
overflow: clip;
    background: white;
    width: 85vw;
    margin: 8% 7%;
    border-radius: var(--radius);
    /* padding: 1%; */
    align-items: flex-start;
    justify-content: flex-start;
}
.viewProfileImage{
    height: 38vw;
    width: 28vw;
    object-fit: cover;
    
}

.profileDetailsNav{
    gap: 1vw;
    background: #f7f7f7;
    padding: 1% 2%; 
    border-radius: var(--radius);
    justify-content: space-between;
    margin: 1% 2% ;
    width: 93%;
}
.profileNavItem{
    cursor: pointer;
    width: 10vw;
    text-align: center;
}
#activeProfileNav{
    background: white;
    padding: 2%;
    border-radius: var(--radius);
    font-weight: bold;
    box-shadow: var(--shadow);
}
.profileDetailsSub{
    padding: 2%;
    align-items: flex-start;
}
.aboutGrid{
    
    justify-items: start;
    width: 100%;
    grid-template-areas:
    " item1 item2  "
    " item3 item4  "
    " item5 item5  "
    ;
    gap: 1vw;
    
}

.aboutme{grid-area: item1;}
.basic{grid-area: item2;}
.body{grid-area: item3;}
.food{ grid-area: item4; }
.education { grid-area: item5; }

.aboutGridSub {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5vw;
    background: white;
    /* border:0.1vw solid rgba(0,0,0,0.1); */
    /* box-shadow: 3px 3px 12px rgba(0,0,0,0.1) ; */
    border-radius: var(--radius);
    padding: 1.5%;
    width: 98%;
}

.gridSubDetails{
    max-width: 25vw;
    text-align: justify;
}
.subDetails {
    /* height: 100%; */
    justify-content: space-between;
    align-items: flex-start;
    max-width: 25vw;
}
.familyDetails,.partnerPreferences,.otherDetails,.contactDetails{
    display: none;
    gap: 1vw;
    width: 100% ;
}
.profileID{
    gap: 1vw;
    width: 16vw;
}
.profileIDShare{
    padding: 0% 2% 2% 0%;
    width: 98%;
}
.uidStyle{
    color: var(--primary);
    background: #FCECEE;
    border-radius: var(--radius);
    padding: 4% ;
}
.otherDetails,.familyFlex{
    gap: 1vw;
    width: 95%;
}
.familySub{
    align-items: flex-start;
    gap: 1vw;
}

.parent {
    gap: 2vw;
    align-items: flex-start;
}
.siblingSub *{
    width: 10vw;
}

.contactDetails{
    width: 96%;
    margin-left:2% ;
}
.partnerPreferenceContainer{
    width: 100%;
    box-shadow: none;
}
option:checked, option:hover {
    background: var(--primary) !important;
    color: white !important;
}
.mobileOnly,.viewContactDetailsMobile{
    display: none;
}

.BrideGroomSelect{
    overflow: clip;
    border-radius: var(--radius);
    background: #f0f0f0;
    color:rgba(0,0,0,0.6);
    box-shadow: var(--shadow);
}
#activeBrideGroom{
    background: white;
    color: black;
    font-weight: bold;
}
/* .BrideGroomCarousel{
    background: rgba(0,0,0,0.6);
} */
#disabledBrideGroom:hover{
    cursor: pointer;
    background: white;
    box-shadow: var(--shadow);
}
.selector{
    padding: 1vw 2vw;
    transition: ease-in 300ms;
}
.personInfo{
    display: none;
    padding: 1vw 2vw;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(8px);
    height: 100%
}
.personContainer{
    cursor: pointer;
    height: 15vw;
    width: 15vw;   
    border-radius: var(--radius);
    overflow: clip;
    background-size: cover;
}
.GroomImages{
    display: none;
}
.bride1{
    background-image: url("assets/goldMember1.webp");
}
.bride2{
    background-image: url("assets/goldMember1.webp");
}
.bride3{
    background-image: url("assets/goldMember1.webp");
}
.groom1{
    background-image: url("assets/goldMember2.webp");
}
.groom2{
    background-image: url("assets/goldMember2.webp");
}
.groom3{
    background-image: url("assets/goldMember2.webp");
}
.personContainer:hover .personInfo{
    display: flex;
}
.carousel-control{
    z-index: 3;
}
.profilePhotoMiniContainer{
    width: 90%;
    height: max-content;
    justify-content: space-around;
    margin-bottom:5% ;
}
.profilePhotoMini{
    height: 4vw;
    width: 5vw;
    background: grey;
    border-radius: var(--radius);
    background-size: cover;
    cursor: pointer;
}
.profileMini1{
    
    background-image: url("assets/goldMember2.webp");
}
.profileMini2{
    
    background-image: url("assets/goldMember1.webp");
}
.profileMini3{
    
    background-image: url("assets/goldMember3.webp");
}
.profileMini4{
    
    background-image: url("assets/special2.webp");
}
/*General CSS Ends*/

 @media screen and (max-width: 1600px) {
    .fontLargest {
        font-size: 4.5vw;
    
    }
    #activeProfileNav{
        padding: 2% 1% ;
    }
    .fontLarge {
        font-size: 2.5vw;
    }
    .fontMedium {
        font-size: 1.5vw;
    }
    .fontAverage{
        font-size: 0.9vw;
    }
    .fontSmall {
        font-size: 0.75vw;
    }
    .heroSection {
        background-size: cover;
        height: 75vh;  
        overflow: clip;  
    }
    .years{
        margin: 0% 0% 0% 14%;
    }
    .shehnaiFeatures {
        margin-top: 10%;
    }
    .mapEmbed{
        height: 35vw;
    }
    .feature{
        width: 25vw;
    }
    
    input[type="email" i],input[type="text" i],input[type="number" i],input[type="tel" i],input[type="password" i],input[type="date" i],input[type="time" i] {
    height: 2vw;
    font-size: 0.75vw;
    }
    select{
        height:2.35vw !important;
        font-size: 0.75vw;
    }

    .profiletabs div,.editButton{
        font-size: 0.8vw;
    }
    .closeIcon{
        height: 1.35vw;
        width: 1.35vw;
    }
    .subActivityItemContainer{
        font-size: 0.75vw;
    }
    .feedDetails{
        gap: 0.5vw;
    }
    .contactDetailCard{
        font-size: 0.9vw;
    }
}
@media screen and (max-width: 991px) {
    .carousel-indicators{
        display: none !important;
    }
    .heroSection{
        height: 48vh;
    }
    .years{
        margin: 16% 0% 0% 16%;
    }
    .viewContactDetailsMobile{
        display: block;
        position: fixed;
        width: 100vw;
        background: var(--primary);
        color: white;
        z-index: 1;
        padding: 2% 8%;
        bottom: 0;
    }
}
@media screen and (max-width: 550px) { /*mobile*/
    .profiletabs div,.editButton{
        font-size: 4vw;
    }
    .activitySub,.profileSub{
        height: max-content;
    }
    .editButton{
        text-align: center !important;
        height: max-content !important;
        width: max-content !important;
    }
    

    .closeIcon{
        height: 6vw;
        width: 6vw;
    }
    .profileLargeImage{
        align-items: flex-end;
        justify-content: center;
    }
    
    .profilePhotoMini {
        height: 20vw; 
        width: 20vw;  
    }
    .links{
        height: 8vw;
    }
    .reviewContainer{
        margin-top: 22%;
     }
    .BrideGroomContainer{
        gap: 5vw;
    }
    .BrideGroomSelect{
        width: 85vw;
    }
    .BrideImages,.GroomImages{
        flex-direction: column;
        gap: 5vw;
        
    }

    .selector{
        width: 50%;
        display: grid;
        place-items: center;
        font-size: 5vw;
    }
    .personContainer{
        height: 65vw;
        width: 85vw;
        border-radius: 8px;
        overflow: clip;
    }

    .bottomPadding10{
        padding-bottom: 15%;

    }
    .start{
        gap: 5vw;
    }
    .mFlexR{
        display: flex;
        flex-direction: row;
    }
    
    .fontLargest {
        font-size: 8vw;
    
    }
    .fontLarge {
        font-size: 6vw;
    }
    .fontMedium {
        font-size: 4.5vw;
    }
    .fontAverage{
        font-size: 4.2vw;
    }
    .fontSmall {
        font-size: 4vw;
    }
    input[type="email" i],input[type="text" i],input[type="number" i],input[type="tel" i],input[type="password" i],input[type="date" i],input[type="time" i] {
        width: 78vw;
        height: 8vw;
        font-size: 4vw;
        padding: 2%;
    }
    select{
        font-size: 4vw ;
        height: 10vw !important;
    }
textarea{
    width: 78vw;
    height: 30vw;
    font-size: inherit;
}
    
    ::-webkit-scrollbar {
        width: 0px;
    }
    body{
        margin: 0;
        overflow: scroll;
    }

    .heroSection{
        /* background-image: url("assets/heroMobile.png"); */
        
        /* border: 1px solid red; */
        width: 100vw;
        height: 60vh;
        background: url("assets/heroMobile.webp");
       
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit:fill;

    }
    .yearImage{
        height:auto ;
        width: 150vw;
    }
    .years{
        
        overflow: clip;
        align-items: center;
        justify-items: center;
        display: grid;
        place-content: center;
        /* border: 1px solid red; */
        width: 100%;
        
        margin: 0%;
     /*   width: 97vw;
        backdrop-filter: blur(4vw); */
    }
  
    .yearsSub{
        width: 85%;
    }
    
     .shehnaiFeatures{
        padding-top: 100% !important;
    }
    .featureCards {
        flex-direction: column;
    }
    .feature{
        width: 80vw;
        margin-bottom:5% ;
        border-radius: 2vw;
        padding: 5%;
        gap: 2vw;
    }
  
 
    .featureSub{
        text-align: center;
    }
  
    .featureVector {
        width: 16vw;
    } 
    .testimonialContainer {
        width: 80vw;
        flex-direction: column;
        border-radius:3vw;
    }
   .couplePhotoLargeContainer{
     width: 60vw;
     height: 60vw;
     
     
   }
   .couplePhoto{
    width: 80vw;
    height: 80vw;
   }
   .testimonialText{
    width: 75vw;
    text-align: justify;
   }
   .testimonialSelector{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 80vw;
    overflow: clip;
    gap: 5vw;
   }
   .coupleContainer {
    height: 12vw;
    width: 12vw;
   }
   .coupleSelectImage{
    height: 16vw;
    width: 16vw;
   }
   #activeTestimonial{
    outline: 4px solid white;
    height:12vw;
    width: 12vw;
   }
   .goldList{
    flex-direction: column;
   }
   .goldMemberImgContainer{
    width: 60vw;
    height: 60vw;
    align-items: flex-start;
   }
   .goldFrame{
    width: 70vw;
    height: 62vw;
   }
   .goldMemberImg{
    /* object-fit: cover; */
    /* object-position: top; */
    height: 60vw;
    width: 60vw;
   }
   .plansContainer{
    flex-direction: column;
    align-items: center;
    gap: 4vw;
   }
   .planCard{
    width: 85vw;
    gap: 8vw;
}
   .planfeature{


    height: 5vw;
    width: 5vw;
   }
   .featureList {
    gap: 8vw;
   }
  .aboutSection, .shehnaiPricing{
    margin-top: 24vw;
   }
   .offlineOnline,.paymentInformation,.paymentDetails{
    flex-direction: column;
    gap: 8vw;

   }
   .featureSubContainer{
    flex-direction: column;
   }
   .paymentInformation{
    width: 85vw;
   }
   .featureSub{
    text-align: justify;
    width: 85vw;
   }
   .paymentpartners{
    width: 60vw;
   }
   .planDetails{
    overflow: scroll;
    margin: 5%;
   }
   .pricingVector{
    height: 96vw;
    margin-left: 100%;
   }
   .aboutParentGrid{
    grid-template-columns: auto;
    row-gap: 25vw;
    margin-top: 20%;
    
   }
   .aboutContainer {
    flex-direction: column;
    width: 95vw !important;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    
   }
   .aboutImage{
    width: 85vw;
    height: 85vw;
    filter: saturate(1);

   }
   .aboutText {
    width: 95%;
    padding:0% 5% ;
   }
   .contactMap{
    flex-direction: column;
    width: 85vw;
    
   }
   .contactForm{
    gap: 5vw;
   }
   .contactFormContainer{
    gap: 5vw;
    width: 85vw;
   }
   .searchButton{
    width: 82vw;
    }    
    .mapEmbed{
        
        height: 85vw; 
    }
    .generalForm{
        width: 100vw;
        margin: 110% 0% 0% 0%;
        gap: 5vw;
        align-items: center;
        padding: 5% 0%;
    }
    .contacNo {
        align-items: flex-start;
    }
    label{display: none;}
    .phoneField{
        width: 58vw !important;
        height: 9vw !important;
    }
    .roundedBorder{
        padding: 15% 2%;
        width: 20vw !important;
        height: 12vw !important;
    }
    .captcha{
        flex-direction: column !important;
    }
    .inactiveIcon{
        width: 12vw;
    }
    .specialContainer{
        grid-template-columns: auto;
    }
    .specialMember {
        flex-direction: column;
    }
    .specialData{
        display: none;
    }
    .specialMember {
        width: 85vw;
        height: 70vw;
    }
    .specialImage{
        width: 85vw;
        height: 70vw;
        object-fit: cover;
    }
    .actionIcon{
        height: 4vw;
        width: 4vw;
    }
    .viewProfile {
        flex-direction: column;
        width: 100vw;
        margin: 0;
        margin-top:32vw ;

    }
    .viewContactDetails{
        display: none;
    }
    .profileAboutDetails{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        
    }
    .profileDetailsNav{
        justify-content: space-evenly;
        gap: 8vw;
        text-align: center;
        width: 90vw;
        height: 15vw;
        transition: ease-in 300ms;
    }
    .viewProfileImage{
        width: 100vw;

    }
    #activeProfileNav{
        background: #f7f7f7;
        box-shadow: none;
        border-bottom: 2px solid rgb(0, 0, 0);
        padding: 1%;
        font-weight: 600;
    }
    .aboutGrid{
        
        grid-template-areas:
        " item1   "
        " item2   "
        " item3   "
        " item4   "
        " item5   "
        ;
        gap: 1vw;
        
    }
    .aboutGridSub {
        width: 90vw;
        gap: 6vw;
        height: max-content;
        flex-direction: column;    
        box-shadow: none;
    }
    .subDetails{
        max-width: none;
        gap: 4vw;
    }
    .detailContainer {
        width:60%;
    }
    .gridSubDetails  {
        width:max-content ;
        max-width: none;

    }
    .gridSubTitle{
        /* width: 100%; */
    }
    .profileID {
        flex-direction: column;
        align-items: flex-start;
        width: max-content;
    }
    .profileIDShare{
        width: 100% ;
    }
    .editButton{
        width: max-content;
    }
    .detailData {
        max-width: 85vw;
    }
    .wrap{
        flex-wrap: wrap;
    }
    .mobileGrid{
        display: grid;
        grid-template-columns:auto auto auto ;
    }
  
    .familyDetails,.partnerPreferences,.otherDetails,.contactDetails{
    padding: 2%;
    }
    .parent{
        gap: 4vw;
        display: grid;
        grid-template-columns: auto auto;
        align-items: start;
    }
    .partnerPrefSub,.siblingSub{
        display: grid;
        grid-template-columns: auto auto;
    }
    .otherDetailsSub{
        width: 100%;
        display: flex;    
        flex-direction: column;
        align-items: start;
        margin: 0;
    }
    .profile  {
        display: none;
    }
 

}